/*スムーズスクロール*/
html {
    scroll-behavior: smooth;
}
/*画面余白*/
html {
    margin: 0;
}
body {
    margin: 0;
}
/*スクロールバー*/
body {
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}
::-webkit-scrollbar-thumb {
    box-sizing: border-box;
    background-clip: content-box;
    border-radius: 1rem;
    background-color: rgb(200, 200, 200);
    border: solid 0.25rem rgb(50, 50, 50);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(150, 150, 150);
    border: solid 0.2rem rgb(50, 50, 50);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgb(100, 100, 100);
    border: solid 0.15rem rgb(50, 50, 50);
}
::-webkit-scrollbar-track {
    background-color: rgb(50, 50, 50);
}
/*見出し*/
h1 {
    padding: 0.75rem 0.75rem;
    margin: 1rem;
    border-left: solid 1rem rgb(255, 155, 0);
    border-bottom: solid 0.5rem rgb(200, 200, 200);
    border-radius: 0.25rem 0.75rem 0.75rem 0.25rem;
    color: rgb(75, 75, 75);
    background: rgb(240, 240, 240);
}
/*ブロック崩し*/
canvas {
    margin: 1rem;
    border-radius: 0.5rem;
    background: rgb(25, 25, 25);
}
/*メニュー上*/
.menu-up {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 1rem;
    width: auto;
    height: 1rem;
    color: rgb(200, 200, 200);
    background-color: rgb(75, 75, 75);
}
.menu-up-content-1 {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.4rem;
}
.menu-up-content-2 {
    display: inline;
    position: absolute;
    top: 0.25rem;
    left: 2.5rem;
    margin: 0.4rem;
    font-size: 1.5rem;
    font-family: "チェックポイントフォント";
}
.menu-up-content-2, a:link, a:visited {
    text-decoration: none;
    color: rgb(250, 250, 250);
}
.menu-up-content-2, a:hover {
    color: rgb(200, 200, 200);
}
.menu-up-content-2, a:active {
    color: rgb(150, 150, 150);
}
/*メニュー下*/
.menu-under {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 1rem;
    width: auto;
    height: 25rem;
    color: rgb(200, 200, 200);
    background-color: rgb(75, 75, 75);
}
.menu-under-content-1 {
    display: inline;
    position: absolute;
}
.a {
    align-items: 1;
}